body, html {
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #181a1b;
}

.flex--title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.flex {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text--title {
    font-family: Helvetica;
    color: #fff;
    font-weight: 800;
    font-size: 40px;
}

.a {
    background-color: #fff;
}

.flex--back {
    font-family: 'Inter';
    color: #fff;
    font-weight: 500;
    margin: 10px;
    font-size: 30px;
}

.flex--back:hover {
    font-weight: 700;
}